extends layout

block body
	div(ng-controller="searchCtrl")
		h1 Tweet Saver
		form#my_form(ng-submit="search()")
			input(type="text" placeholder="keyword" ng-model="keyword")
			input(type="submit")

		fieldset#left_tweet
			div.tweet(ng-repeat="tweet in realTimeData", draggable='true')
				div {{tweet.user.name}}:
				div {{tweet.text}}

		fieldset#drop

	script(src='js/lib/angular.min.js')
	script(src='js/lib/jquery-1.11.1.min.js')
	script(src='js/app.js')
	script(src='js/dnd.js')