#left_tweet {
	width:40%;
	min-height: 450px;
	float: left;
}

#drop {
	float: right;
	width: 40%;
	min-height: 450px;
}

.tweet {
	padding: 0 0 1em;
}
h1 { 
	border-bottom: 0.1em solid black;
	margin-bottom: 0.5em;
	padding: 0 0 0.5em;
}